@import url('https://fonts.googleapis.com/css2?family=Gabarito:wght@800&display=swap');

@font-face {
    font-family: 'Anton';
    src: url('../fonts/Anton-Regular.ttf');
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Regular.ttf');

}

:root{
    --color-primario: #1b61c9;
    --color-secundario: #C5E2FF;
    --color-terciario: #ddb47c;
}

header, nav, main, section, div{ 
    display: grid;
    height: auto;
    align-content: center;
    justify-content: center;
}

header{
    background-color: var(--color-primario);
    color: white;
    grid-template-columns: 20% 60% 20%;
}

header div:nth-child(2){
    color: black;
    font-family: Gabarito, Helvetica, sans-serif;
    font-size: 2.5em;
    letter-spacing: 30px;
    text-shadow: 5px 5px 4px var(--color-terciario),10px 10px 5px var(--color-secundario);
    padding: 40px 0px;
    overflow: hidden;
}

nav, section{
    background-color: var(--color-secundario);
    height: auto;
}

section{
    width: 70vw;
    margin: auto;
}

section div{
    border: black 2px solid;

}

footer{
    display: flex;
    background-color: var(--color-primario);
    color: white;
    height: 50px;
    font-family: Roboto, Helvetica, sans-serif;
}

footer div{
    flex-grow: 1;
    border: var(--color-terciario) 2px solid;
    border-collapse: collapse;
    margin: 10px;
}

footer div:nth-child(1){
    font-size: 1.5em;
    justify-content: right;
}

footer div:nth-child(2){
    font-size: 1em;
    box-shadow: -10px 10px 5px 0px rgba(0,0,0,0.75);
    justify-content: left;
}

footer div:nth-child(3){
    font-size: 2em;
}

span span{
    color:var(--color-terciario);
    margin-left: 30px;
}

